alabaster==0.7.12
allennlp==0.9.0
asn1crypto==1.2.0
attrs==21.4.0
Babel==2.10.3
backcall==0.1.0
beautifulsoup4==4.8.2
blis==0.2.4
boto3==1.24.18
botocore==1.27.18
certifi==2019.11.28
cffi==1.13.0
chardet==3.0.4
click==8.1.3
conda==4.8.1
conda-build==3.18.11
conda-package-handling==1.6.0
conllu==1.3.1
cryptography==2.8
cycler==0.11.0
cymem==2.0.6
decorator==4.4.1
docutils==0.18.1
editdistance==0.6.0
fever-scorer==2.0.39
filelock==3.0.12
fire==0.4.0
flaky==3.7.0
flashtext==2.7
Flask==2.1.2
Flask-Cors==3.0.10
fonttools==4.33.3
ftfy==6.1.1
gevent==21.12.0
glob2==0.7
greenlet==1.1.2
h5py==3.7.0
idna==2.8
imagesize==1.3.0
importlib-metadata==4.12.0
inflection==0.5.1
iniconfig==1.1.1
ipython==7.11.1
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.15.2
Jinja2==2.10.3
jmespath==1.0.1
joblib==1.1.0
jsonlines==2.0.0
jsonnet==0.18.0
jsonpickle==2.2.0
kiwisolver==1.4.3
libarchive-c==2.8
lief==0.9.0
MarkupSafe==1.1.1
matplotlib==3.5.2
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
murmurhash==1.0.7
nltk==3.7
numpy==1.20.0
numpydoc==1.4.0
olefile==0.46
overrides==3.1.0
packaging==21.3
parsimonious==0.9.0
parso==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pipdeptree==2.9.6
pkginfo==1.5.0.1
plac==0.9.6
pluggy==1.0.0
preshed==2.0.1
prettytable==2.1.0
prompt-toolkit==3.0.2
protobuf==3.20.1
psutil==5.6.7
ptyprocess==0.6.0
py==1.11.0
pycosat==0.6.3
pycparser==2.19
Pygments==2.5.2
pyOpenSSL==19.0.0
pyparsing==3.0.9
PySocks==1.7.1
pytest==7.1.2
python-dateutil==2.8.2
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.1.0
pytz==2019.3
PyYAML==5.2
regex==2022.6.2
requests==2.22.0
responses==0.21.0
ruamel-yaml==0.15.46
s3transfer==0.6.0
sacremoses==0.0.53
scikit-learn==1.0.2
scipy==1.7.3
sentencepiece==0.1.96
six==1.12.0
snowballstemmer==2.2.0
soupsieve==1.9.5
spacy==2.1.9
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlitedict==1.7.0
sqlparse==0.4.2
srsly==1.0.5
tensorboardX==2.5.1
termcolor==1.1.0
thinc==7.0.8
threadpoolctl==3.1.0
tokenizers==0.9.4
tomli==2.0.1
torch==1.4.0
torchvision==0.5.0
tqdm==4.36.1
traitlets==4.3.3
transformers==4.1.0
typing-extensions==4.2.0
Unidecode==1.3.4
urllib3==1.26.8
wasabi==0.9.1
wcwidth==0.1.7
Werkzeug==2.1.2
wget==3.2
word2number==1.1
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
